<div class="container text-center border">
  <div class="row border">
    <div class="col-sm border">
      <button class="btn btn-dark btn-block" (click)="klik1()">Ryby</button>
    </div>
    <div class="col-sm border">
      <button class="btn btn-dark btn-block" (click)="klik2()">Gady</button>
    </div>
    <div class="col-sm border">
      <button class="btn btn-dark btn-block" (click)="klik3()">Płazy</button>
    </div>
    <div class="col-sm border">
      <button class="btn btn-dark btn-block" (click)="klik4()">Ssaki</button>
    </div>
  </div>
  <ng-container *ngIf="Kategoria!=null">
    <div class="row border" >
      <ng-container *ngFor="let podzial of Kategoria.Podzial; index as i">
        <div class="col-xl-6 border" id="{{i}}" (click)="klikP($event)">
          <p id="{{i}}">{{podzial}}</p>
          <img id="{{i}}" src="{{Kategoria.zdjeciaPodzial[i]}}" alt="chuj">
        </div>
        <div class="w-100" *ngIf="i%2==1"></div>
      </ng-container>
    </div>
    <ng-container *ngIf="idPodPodzial!=null">
      <div class="row">
        <div class="col text-center border">{{aktualnePodPodzialy[idAktualne].nazwa}}</div>
      </div>
      <div class="row">
        <div class="col text-center border"><button class="btn btn-dark btn-block" style="height: 100%;" (click)="butl()"><</button></div>
        <div class="col text-center border">
          <img src="{{aktualnePodPodzialy[idAktualne].zdjecie}}" alt="chuj">
          <div class="row">
            <div class="col text-center border "><p>{{aktualnePodPodzialy[idAktualne].opis}}</p></div>
          </div>
        </div>
        <div class="col text-center border"><button class="btn btn-dark btn-block" style="height: 100%;" (click)="butr()">></button></div>
      </div>
    </ng-container>
  </ng-container>
  
  
</div>